body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: rgb(169, 62, 62);
}

#cabecalho .nav .nav-link.active {
    background-color: rgb(255, 255, 255);
    color: rgb(214, 46, 46);
}

#cabecalho .nav .nav-link, 
.navbar-brand,
.navbar-brand:hover {
    color: white;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
}

.navbar-toggler {
    background-color: rgb(255, 255, 255);
}

.section-title {
    font-family: 'Pacifico', cursive;
}

.nav-cardapio .nav-link,
#sobre-o-restaurante {
    background-color: rgb(252, 251, 251);
}

.text-colored {
    color: rgb(169, 62, 62);
}

.section-title span {
    color: rgb(169, 62, 62);
}

.text-colored {
    color: rgb(169, 62, 62);
}

.nav-cardapio .nav-link:hover {
    color: rgb(169, 62, 62);
}

.nav-cardapio .nav-link.active {
    background-color: rgb(169, 62, 62);
    color: white;
}